registry=https://registry.npmjs.org/
@abstrato:registry=https://pkgs.dev.azure.com/abstratoventures/_packaging/abstratoventures/npm/registry/ 
always-auth=true
 
//pkgs.dev.azure.com/abstratoventures/_packaging/abstratoventures/npm/:username=abstratoventures
//pkgs.dev.azure.com/abstratoventures/_packaging/abstratoventures/npm/:email=tecnologia@abstrato.ventures

# LOCAL
# //pkgs.dev.azure.com/abstratoventures/_packaging/abstratoventures/npm/:_password=QTVhWTZyMzNlSDNwNmFTN1ZsdVp6MUNPSFdmS2xsa1c1WHNta0k3azl4S2pKZGhtS2JsREpRUUo5OUJDQUNBQUFBQTN2WnFKQUFBR0FaRE8xRWo3

# VERCEL BUILD
//pkgs.dev.azure.com/abstratoventures/_packaging/abstratoventures/npm/:_password=${NPM_AZURE_TOKEN_BASE64}
